.lineChart {
    width: 450px;
    height: 250px;
    margin: 0 auto;
}

.scatterChart {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
    /* border-radius: 250px; */
}

.gaugeChart {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}