.lineChart {
    width: 450px;
    height: 250px;
    margin: 0 auto;
}

.scatterChart {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border: 1px #a72525 solid;
    background-image: url(../img/BHL1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gaugeChart {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}