@import '~antd/dist/antd.css';
.screen-wrapper {
    height: 100vh;
    width: 100vw;
}

.screen {
    display: inline-block;
    width: 1920px;
    height: 1080px;
    transform-origin: 0 0;
    position: absolute;
    background-image: url(./assets/img/Index_Bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    overflow: hidden;
}

.RowTitle {
    /* height: 100px; */
    margin-top: 7.5px;
}

.span_title {
    display: block;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 35px;
    /* line-height: 80px; */
}

.span_title_other {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    /* line-height: 80px; */
}

.span_title_other_right {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
    /* line-height: 80px; */
}

.container {
    display: flex;
    height: 80%;
}

.main {
    flex-grow: 1;
    height: 100%;
    /* background-color: red; */
}

.left {
    order: -1;
    flex: 0 1 500px;
    margin-left: 30px;
    height: 100%;
    /* background-color: blue; */
}

.right {
    flex: 0 1 500px;
    margin-right: 25px;
    height: 100%;
    /* background-color: green; */
}

.gauge {
    height: 150px;
    margin-top: -50px;
}

.value {
    text-align: center;
    font-size: 1rem;
    color: cornsilk;
    margin-top: -15px;
}

.table {
    margin-top: 75px;
}

.buttom_title {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    margin-left: 75px;
}

.buttom_title_other {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    margin-left: 80px;
}

.main_content {
    height: 100%;
}

.table_container {
    width: 500px;
}

.main_data {
    height: 30%;
    text-align: center;
    margin-top: 300px;
}

.button_group {
    height: 70%;
    text-align: center;
}

.btn_1 {
    width: 100px;
}

.buttom {
    text-align: center;
}

.scatter_container {
    background-image: url(./assets/img/ring_red.png);
    width: 500px;
    height: 500px;
}

.scatter_container2 {
    width: 500px;
    height: 500px;
    background-image: url(./assets/img//BHL1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ant-table-cell {
    background-color: transparent;
    /* color: #fff; */
}

.picker_container {
    position: absolute;
    text-align: center;
    width: 500px;
    bottom: 0px;
}