@import '~antd/dist/antd.css';
.App {
    width: 1920px;
    height: 1080px;
    min-width: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    /* background-image: url(./assets/img/Index_Bg.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.RowTitle {
    height: 100px;
}

.StyleName {
    display: block;
    color: aliceblue;
    font-size: larger;
    text-align: center;
    line-height: 80px;
}