@import '~antd/dist/antd.css';
.screen-wrapper {
    height: 100vh;
    width: 100vw;
}

.screen {
    display: inline-block;
    width: 1920px;
    height: 1080px;
    transform-origin: 0 0;
    position: absolute;
    background-image: url(./assets/img/子页背景.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    overflow: hidden;
}

.RowTitle {
    /* height: 100px; */
    margin-top: 7.5px;
}

.span_title {
    display: block;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 35px;
    /* line-height: 80px; */
}

.span_title_other {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    /* line-height: 80px; */
}

.span_title_other_right {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
    /* line-height: 80px; */
}

.container {
    display: flex;
    height: 80%;
}

.main {
    flex-grow: 1;
    height: 100%;
    /* background-color: red; */
}

.left {
    order: -1;
    flex: 0 1 500px;
    margin-left: 30px;
    height: 100%;
    /* background-color: blue; */
}

.right {
    flex: 0 1 500px;
    margin-right: 25px;
    height: 100%;
    /* background-color: green; */
}

.gauge {
    height: 150px;
    margin-top: -50px;
}

.value {
    text-align: center;
    font-size: 1rem;
    color: cornsilk;
    margin-top: -15px;
}

.table {
    margin-top: 75px;
}

.buttom_title {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    margin-left: 75px;
}

.buttom_title_other {
    display: block;
    color: aliceblue;
    font-size: 1.25rem;
    margin-left: 80px;
}

.main_content {
    height: 100%;
}

.table_container {
    width: 500px;
}

.main_data {
    height: 30%;
    text-align: center;
    margin-top: 300px;
}

.button_group {
    height: 70%;
    text-align: center;
}

.btn_1 {
    width: 100px;
    background-color: transparent;
    color: white;
    border-color: blue;
    border-radius: 10px;
}

.btn_1:hover {
    background-color: transparent;
    color: white;
}

.btn_1:focus {
    background-color: blue;
    /* color: white; */
}

.buttom {
    text-align: center;
}

.scatter_container {
    background-image: url(./assets/img/ring.png);
    width: 500px;
    height: 500px;
}

.scatter_container_red {
    background-image: url(./assets/img/ring_red.png);
    width: 500px;
    height: 500px;
}

.scatter_container_yellow {
    background-image: url(./assets/img/ring_yellow.png);
    width: 500px;
    height: 500px;
}

.scatter_container_gray {
    background-image: url(./assets/img/ring_grey.png);
    width: 500px;
    height: 500px;
}

.scatter_container2 {
    width: 500px;
    height: 500px;
    background-image: url(./assets/img//BHL1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -20px;
    margin-left: -15px;
}

.ant-table-cell {
    background-color: transparent;
    /* color: #fff; */
}

.picker_container {
    position: absolute;
    text-align: center;
    width: 500px;
    bottom: 0px;
}

.tag_1 {
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/icon_tech.png);
    background-size: 100% 100%;
}

.tag_2 {
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/icon_tech.png);
    background-size: 100% 100%;
}

.tag_3 {
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/icon_tech.png);
    background-size: 100% 100%;
}

.tag_4 {
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/icon_tech.png);
    background-size: 100% 100%;
}

.noname {
    margin-top: -50px;
}

.ant-table-thead>tr>th {
    color: white;
    background: transparent !important;
}

.ant-table {
    color: white;
    background-color: transparent !important;
}

.ant-table-tbody>tr>td {
    background-color: transparent !important;
}

.ant-table-tbody>tr>td:hover {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #0a163c;
    -webkit-appearance: none;
}

；::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    box-shadow: inset 0 0 5px white;
    background: rgb(8, 31, 235);
    -webkit-box-shadow: inset 0;
}


/* Buttons */

::-webkit-scrollbar-button:single-button {
    background-color: #0f7ce2;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}


/* Up */

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #0757be transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #0757be transparent;
}


/* Down */

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #0757be transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #0757be transparent transparent transparent;
}

.ant-table-container table>thead>tr:first-child th:last-child {
    display: none;
}